/* Font Styles */
@font-face {
    font-family: 'RuneScape Chat \'07';
    src: url('RuneScape-Chat-07.woff2') format('woff2'),
        url('RuneScape-Chat-07.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuneScape Chat Bold \'07';
    src: url('RuneScape-Chat-Bold-07.woff2') format('woff2'),
        url('RuneScape-Chat-Bold-07.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Body Styles */
.bod, .bodlog {
    font-family: 'RuneScape Chat \'07', sans-serif;
    margin: 0;
}

.bod {
    background: linear-gradient(to right, tan, wheat);
}

.bodlog {
    background-image: url("login.webp");
}

.bodlog a {
    color: white;
    padding: 15px;
    display: block;
}

.log {
    margin-top: 300px;
    border: 1px solid black;
    background-color: black;
}

/* Heading Styles */
h1, h2, h3 {
    font-family: 'RuneScape Chat Bold \'07', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    background: linear-gradient(to left, tan, wheat);
}

/* Paragraph Styles */
p {
    font-family: 'RuneScape Chat \'07', sans-serif;
    color: white;
    text-align: center;
    width: 300px;
    margin: auto;
}

/* Navbar Styles */
.navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: dimgray;
}

.navbar li {
    float: left;
}

.navbar img {
    width: 32px;
    height: 32px;
    padding: 5px;
}

/* Content Styles */
.content img, .gp img, .map img {
    margin: 5px auto;
    width: 300px;
    height: auto;
    display: flex;
}

/* Login and Signup Styles */
.login, .signup {
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: black;
    border: 1px solid black;
}
