/* Font Styles */
@font-face {
    font-family: 'RuneScape Chat \'07';
    src: url('RuneScape-Chat-07.woff2') format('woff2'),
        url('RuneScape-Chat-07.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuneScape Chat Bold \'07';
    src: url('RuneScape-Chat-Bold-07.woff2') format('woff2'),
        url('RuneScape-Chat-Bold-07.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Body Styles */
.bodycontainer, .bodyquests, .bodyinfo, .bodymoney, .bodylog {
    font-family: 'RuneScape Chat \'07', sans-serif;
    margin: 0;
}

.bodycontainer {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(193, 149, 84, 0.7)), url("background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyquests {
    background: linear-gradient(to right, rgba(193, 149, 84, 0.7), rgba(193, 149, 84, 0.7)), url("background3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodymoney {
    background: linear-gradient(to right, rgba(193, 149, 84, 0.7), rgba(193, 149, 84, 0.7)), url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyinfo {
    background: linear-gradient(to right, rgba(193, 149, 84, 0.7), rgba(193, 149, 84, 0.7)), url("background6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyquests td, a {
    color: white;
}

.bodylog {
    background-image: url("login.jpg");
    background-position: center;
    background-size: cover;
}

.bodylog a {
    color: white;
    padding: 15px;
    display: block;
}

.log {
    margin-top: 600px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Heading Styles */
h1, h2, h3 {
    font-family: 'RuneScape Chat Bold \'07', sans-serif;
    color: white;
    text-align: center;
}

h1 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), tan);
}

/* Paragraph Styles */
p {
    font-family: 'RuneScape Chat \'07', sans-serif;
    color: white;
    text-align: center;
    width: 300px;
    margin: auto;
}

/* Navbar Styles */
.navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: rgb(30, 30, 30);
}

.navbar li {
    float: left;
}

.navbar img {
    width: 32px;
    height: 32px;
    padding: 5px;
}

/* Content Styles */
.content img, .gp img, .map img {
    margin: 5px auto;
    width: 300px;
    height: auto;
    display: flex;
}

/* Login and Signup Styles */
.login, .signup {
    text-align: center;
}

input {
    color: white;
    border: none;
    padding: 12px;
    background: black;
    appearance: none;
}

#signup:hover, #login:hover {
    background: rgb(30, 30, 30);
}

/* Footer Styles */
footer {
    background-color: black;
    border: 1px solid black;
}
